<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Manager</title>
    <script defer src="/js/material.min.js"></script>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/material.min.css">
    <link rel="stylesheet" href="/css/icon.css">
    <link rel="stylesheet" href="/css/material.deep_purple-pink.min.css">
    <link rel='stylesheet' href='/css/main.css' />
</head>

<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
            <div class="mdl-layout__header-row">
                <h3>File Manager</h3>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation">
                    {{#if isLoggedIn}}
                    <a class="mdl-navigation__link" href="/user">Profil</a>
                    <a class="mdl-navigation__link" href="/folder/list">My files</a>
                    <a class="mdl-navigation__link" href="/account/logout">Logout</a>
                    {{else}}
                    <a class="mdl-navigation__link" href="/account/register">Register</a>
                    <a class="mdl-navigation__link" href="/account/login">Login</a>
                    {{/if}}
                </nav>
            </div>
            <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
                <a href="/" class="mdl-layout__tab">Overview</a>
            </div>
        </header>
        <main class="mdl-layout__content">
            <div class="mdl-layout__tab-panel is-active login">
                <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                    <div class="mdl-card mdl-cell mdl-cell--12-col">
                        <div class="mdl-card__supporting-text">
                            <h4 class="mdl-card__title-text">Login</h4>
                            {{#if error}}
                            <p class="error">{{error}}</p>
                            {{/if}}
                            <form action="/account/login" method="POST">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" name="email" id="email">
                                    <label class="mdl-textfield__label" for="email">Utilizator</label>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="password" name="pass" id="pass" />
                                    <label class="mdl-textfield__label" for="pass">Parola</label>
                                </div>
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                    Login
                                </button>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
            {{>footer}}
        </main>
    </div>
</body>

</html>