<footer class="mdl-mega-footer">
    <div class="mdl-mega-footer--middle-section">
        <div class="mdl-mega-footer--drop-down-section">
            <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer--heading">Beneficii</h1>
            <ul class="mdl-mega-footer--link-list">
                <li><a href="#">Despre noi</a></li>
                <li><a href="#">Termeni și condiții</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Legal</a></li>
            </ul>
        </div>
        <div class="mdl-mega-footer--drop-down-section">
            <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer--heading">Detalii</h1>
            <ul class="mdl-mega-footer--link-list">
                <li><a href="#">Securitate</a></li>
                <li><a href="#">Technologie</a></li>
            </ul>
        </div>
        <div class="mdl-mega-footer--drop-down-section">
            <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer--heading">Pentru tine</h1>
            <ul class="mdl-mega-footer--link-list">
                <li><a href="#">Instrucțiuni de utilizare</a></li>
                <li><a href="#">Prețuri</a></li>
                <li><a href="#">Produsele noastre</a></li>
            </ul>
        </div>
        <div class="mdl-mega-footer--drop-down-section">
            <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
            <h1 class="mdl-mega-footer--heading">Întrebări frecvente</h1>
            <ul class="mdl-mega-footer--link-list">
                <li><a href="#">Întrebări</a></li>
                <li><a href="#">Răspunsuri</a></li>
                <li><a href="#">Formular contact</a></li>
            </ul>
        </div>
    </div>
    <div class="mdl-mega-footer--bottom-section">
        <div class="mdl-logo">
            Mai multe informații
        </div>
        <ul class="mdl-mega-footer--link-list">
            <li><a href="#">Ajutor</a></li>
            <li><a href="#">Date personale</a></li>
        </ul>
    </div>
</footer>