<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Managementul documentelor</title>
  <script defer src="/js/material.min.js"></script>
  <link rel="stylesheet" href="/css/font.css">
  <link rel="stylesheet" href="/css/material.min.css">
  <link rel="stylesheet" href="/css/icon.css">
  <link rel="stylesheet" href="/css/material.deep_purple-pink.min.css">
  <link rel='stylesheet' href='/css/main.css' />
</head>

<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
      <div class="mdl-layout__header-row">
        <h3>Managementul documentelor</h3>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation">
          {{#if isLoggedIn}}
          <a class="mdl-navigation__link" href="/user">Pagina personală</a>
          <a class="mdl-navigation__link" href="/folder/list">Documentele mele</a>
          <a class="mdl-navigation__link" href="/account/logout">Iesșire din cont</a>
          {{else}}
          <a class="mdl-navigation__link" href="/account/register">Cont nou</a>
          <a class="mdl-navigation__link" href="/account/login">Accesare cont</a>
          {{/if}}
        </nav>
      </div>
      <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
        <a href="#overview" class="mdl-layout__tab is-active">Acasă</a>
        <a href="#features" class="mdl-layout__tab">Beneficii</a>
        <a href="#pricing" class="mdl-layout__tab">Prețuri</a>
      </div>
    </header>
    <main class="mdl-layout__content">
      <div class="mdl-layout__tab-panel is-active" id="overview">
        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
          <header
            class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
          </header>
          <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card__supporting-text">
              <h4>Despre noi</h4>
              Ai grijă de documentele tale și organizează-le folosind aplicația noastră. Vei petrece mai puțin timp căutând documentele mai vechi și te vei bucura de beneficiile oferite gratuit de noi.
            </div>
            <div class="mdl-card__actions">
              <a href="/account/register" class="mdl-button">Crează cont</a>
            </div>
          </div>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn1">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn1">
            <li class="mdl-menu__item"><a href="/account/login">Accesare cont</a></li>
            <li class="mdl-menu__item"><a href="/account/register">Crează cont</a></li>
          </ul>
        </section>
        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
          <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
              <h4 class="mdl-cell mdl-cell--12-col">Detalii</h4>
              <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                <div class="section__circle-container__circle mdl-color--primary"></div>
              </div>
              <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                <h5>Securitate</h5>
                Aplicația noastră îți va oferi un nivel de securitate de cel mai înalt nivel. Documentele și datele tale personale vor fi în siguranță și vor putea fi accesate doar de către tine.
              </div>
              <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                <div class="section__circle-container__circle mdl-color--primary"></div>
              </div>
              <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                <h5>Organizare</h5>
                Aplicația noastră vă permite salvarea documentelor dumneavoastră într-o structură ierarhică de directoare putând astfel să vă gestionați fișierele personale pe domenii de lucru sau în funcție de alte criterii.
              </div>
              <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                <div class="section__circle-container__circle mdl-color--primary"></div>
              </div>
              <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                <h5>Stocare</h5>
                Aplicația noastră vă permite administrarea și organizarea a unui numar mare de documente, având un spațiu de stocare de 5GB fără costuri.
              </div>
            </div>
            <div class="mdl-card__actions">
              <a href="#" class="mdl-button">Mai multe despre beneficiile oferite</a>
            </div>
          </div>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn2">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn2">
            <li class="mdl-menu__item">Contact</li>
            <li class="mdl-menu__item">Termeni și condiții</li>
          </ul>
        </section>
        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
          <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text">
              <h4>Technologie</h4>
              Tehnologia pe care o folosim îți oferă un nivel de securitate ridicat și este conformă cu cele mai înalte standarde din industrie.
            </div>
            <div class="mdl-card__actions">
              <a href="/account/register" class="mdl-button">Încearcă gratuit</a>
            </div>
          </div>
        </section>
        <section class="section--footer mdl-color--white mdl-grid">
          <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
            <div class="section__circle-container__circle mdl-color--accent section__circle--big"></div>
          </div>
          <div class="section__text mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
            <h5>Încarcă documente</h5>
            Poți încărca documente ușor și în siguranță. Nimeni nu va avea acces la documentele tale fără permisiune. Administrează-ți documentele cu încredere.
          </div>
          <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
            <div class="section__circle-container__circle mdl-color--accent section__circle--big"></div>
          </div>
          <div class="section__text mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
            <h5>Crează directoare ușor</h5>
            Îți poți organiza documentele printr-o structură de directoare ierarhice. Tot ce trebuie să faci este să îți creezi cont.
          </div>
        </section>
      </div>
      <div class="mdl-layout__tab-panel" id="features">
        <section class="section--center mdl-grid mdl-grid--no-spacing">
          <div class="mdl-cell mdl-cell--12-col">
            <h4>Beneficii</h4>
            Bucură-te de beneficiile gratuite pe care ți le punem la dispoziție și organizează-ți documentele.
            <ul class="toc">
              <h4>Cum funcționează?</h4>
              <a href="#lorem1">Crează-ți un cont de utilizator</a>
              <a href="#lorem2">Crează directoare</a>
              <a href="#lorem3">Încarcă fișiere</a>
            </ul>

            <h5 id="lorem1">Crează-ți un cont</h5>
            Pentru a putea beneficia de toate caracteristicile aplicației noastre este necesar să te inregistrezi ca utilizator.
            <ul>
              <li>Îți poți face un cont accezând acest <a href="/account/register">link</a></li>
              <li>Completează-ți datele corespunzător</li>
              <li>Apasă butonul <i>Crează cont</i></li>
            </ul>

            <p>
              Datele tale personale nu vor fi folosite în scop de marketing fără acordul tău prealabil. 
              Ele nu vor fi văndute către terțe părți și vor fi sercurizate prin cele mai actuale și eficiente metode tehnologice.
              
              Pentru mai mulde detalii te rugăm să ne contactezi sau să accesezi secțiunea de <i>Termeni și condiții</i>
            </p>

            <h5 id="lorem2">Crează directoare</h5>
            <p id="lorem2">
              Poți crea un director foarte ușor accesând secțiunea <i>Documentele mele</i> din <i>Contul tău</i>.
              Poți crea o structură ierarhică de directoare pentru a-ți administra mai bine documentele.
              Fiecare director poate avea la rândul lui încorporate alte directoare putând astfel gestiona documentele în funcție de orice criteriu ai nevoie.
            </p>
            
            <h5 id="lorem3">Încarcă fișiere</h5>

            <p id="lorem4">
              Adăugarea unui document se face prin încărcare (upload) directă de pe calculatorul tău.
              Pot fi încărcate o multitudine de tipuri de fișiere (.pdf, .png, .jpeg, .xlms etc.) în limita a 50 MB un fișier.
              Îți poti organiza fișierele în directoarele create sau direct în secțiunea <i>Documentele mele</i>
            </p>
          </div>
        </section>
      </div>
            <div class="mdl-layout__tab-panel" id="pricing">
        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
          <header
            class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
            <i class="material-icons">play_circle_filled</i>
          </header>
          <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card__supporting-text">
              <h4>Prețuri</h4>
              Servicul vă este oferit gratuit în limita a 5GB de documente stocate. Pentru a putea stoca un volum mai mare documente
              și a avea acees la alte beneficii lista de prețuri este inclusă mai jos. Poti beneficia de o luna gratuită fără costuri suplimentare.
            </div>
            <div class="mdl-card__actions">
              <a href="#" class="mdl-button">Mai multe detalii</a>
            </div>
          </div>
        </section>
        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
          <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
              <h4 class="mdl-cell mdl-cell--12-col">Detalii</h4>
              <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                <div class="section__circle-container__circle mdl-color--primary"></div>
              </div>
              <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                <h4>GRATUIT - 5 GB</h4>
                Puteți beneficia de un spațiu de stocare de pană la 5GB pentru a vă putea organiza documentele 
                personale într-un mod eficient și ușor.
              </div>
              <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                <div class="section__circle-container__circle mdl-color--primary"></div>
              </div>
              <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                <h4>5 &#8364 / lună - 50 GB</h4>
                Pentru cei care au nevoie de mai mult spațiu de stocare vă punem la dispoziție 50 GB pentru 5 &#8364 / lună. 
                Primele 2 luni sunt gratuite pentru a vă putea decide dăcă acest stațiu de stocare se adaptează nevoilor dumneavoastră.
              </div>
              <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                <div class="section__circle-container__circle mdl-color--primary"></div>
              </div>
              <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                <h4>7 &#8364 / lună - 100 GB</h4>
                Puteți peneficia de pachetul nostru de 100 GB / lună pentru doar 7 &#8364 lunar dăca nevoile dumneavoastră 
                de stocare sunt mai mari. Beneficiile vor fi gratuite pentru peimele 3 luni. 
              </div>
            </div>
            <div class="mdl-card__actions">
              <a href="#" class="mdl-button">Termeni și condiții</a>
            </div>
          </div>
        </section>
        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
          <div class="mdl-card mdl-cell mdl-cell--12-col">
            <div class="mdl-card__supporting-text">
              <h4>Condiții de utilizare</h4>
              Abonamentul poate fi închis în orice moment, 
              având posibilitatea sa accesați documentele deja încărcate pentru o perioadă pe 12 luni, fără a mai putea încărca altele noi.
            </div>
            <div class="mdl-card__actions">
              <a href="#" class="mdl-button">Mai mult despre condițiile de utilizare</a>
            </div>
          </div>
        </section>
      </div>
      {{>footer}}
    </main>
  </div>
</body>

</html>