* {
    margin: 0;
    padding: 0;
}

html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: #f9f9f7;
}

.card-wide {
    width: 100%;
}

.card-wide>.mdl-card__title {
    color: #fff;
    height: 176px;
}

.card-wide>.mdl-card__menu {
    color: #fff;
}

.card1>.mdl-card__title {
    background: url('/img/Archive.jpg') center / cover;
}

.card2>.mdl-card__title {
    background: url('/img/archive-header.jpg') center / cover;
}